* {
  margin: 0;
  border: 0;
  background-color: #092635;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
}

.raiz {
  background-color: #092635;
  display: block;
  height: 100vh;
  text-align: center;
  justify-content: center;
}

.nav {
  text-align: center;
  margin-top: 35px;
  transition: 0.6s;
  position: fixed;
  margin-top: -220px;
  margin-left: 1px;
  background-color: #092635;
  border-radius: 50px;
  padding: 50px 580px;
}

.nav-botão {
  color: #ffffff;
  cursor: pointer;
  display: inline;
  font-size: 20px;
  text-decoration: none;
  padding: 7px 7px;
  flex: 1 1 200px; /* Tamanho mínimo de 200px e o item ocupará o espaço disponível */
}

.nav a {
  display: inline;
  cursor: pointer;

}

.nav a:hover {
  background-color: transparent;
  color: white;
  font-size: 20px;
  border-radius: 50px;
  padding: 7px 7px;
  transition: 0.3s;
  box-shadow: 0 0 5px white, 0 0 2px white, 0 0 10px white, 0 0 5px white,
    0 0 15px white;
}

.informações {
  color: white;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 220px;
  margin-left: 20px;
  font-size: 25px;
  
}

.typing {
  color: #81f59cf9;
  text-align: center;
  font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid #81f59cf9; /* Adjust the caret color as needed */
    width: 13ch; /* Start with zero width */
    animation:
        typing 4s steps(13, end) forwards, /* Adjust the duration (4s) and steps as needed */
        blink-caret 0.75s step-end infinite;
  
}

.skill{
  color: #81f59cf9;
  font-family: monospace;
}

h3{
  color: white;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 50px;
  margin-left: 20px;
  font-size: 20px;
  
}

.social {
  display: flex;
  gap: 20px;
  margin-left: 625px;
  margin-top: 10px;
}

.social img {
  height: 40px;
  width: 40px;
  border-radius: 60%;
  margin-left: 0px;
  margin-top: 0px;
}

.social a {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 51px;
  width: 50px;
  cursor: pointer;
  margin-top: 50px;
}

.social a:hover {
  transition: 0.5s;
  box-shadow: 0 0 20px #5c8374, 0 0 30px #5c8374;

}

/*SOBRE MIM*/

section {
  background-color: #092635;
  display: block;
  height: 100vh;
  box-sizing: border-box;
}

img {
  width: 250px;
  text-align: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 950px;
  border-radius: 10%;
}

section div h2 {
  color: #81f59cf9;
  font-size: 70px;
  margin-top: 120px;
  padding: 5px 5px;
}

.sobremim{
  color: rgb(255, 255, 255);
  margin-left: -400px;
  margin-top: -200px;
  padding: 5px 5px;  

}

.projetos{
background-color: #092635;
padding: 9.2% 5%;
display: flex;
flex-direction: column;
}

.projetos h2{
    color: #81f59cf9;
    text-align: center;
    font-size: 70px;
    height: 30px;
    margin-top: -120px;

}

.card1{
    background-color: transparent;
    border: 8px solid #81f59cf9;
    margin-top: 50px;
    height: 380px;
    width: 300px;
    border-radius: 15px;
    padding: 10px 35px;
    text-align: center;
}

.card2{
    background-color: transparent;
    border: 8px solid #81f59cf9;
    margin-top: 50px;
    height: 380px;
    width: 300px;
    border-radius: 15px;
    padding: 10px 35px;
    text-align: center;
}

.card3{
    background-color: transparent;
    border: 8px solid #81f59cf9;
    margin-top: 50px;
    height: 380px;
    width: 300px;
    border-radius: 15px;
    padding: 10px 35px;
    text-align: center;
}

.card-projetos{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.card1 img{
    width: 200px;
    margin-top: 20px;
    margin-left: 0px;
}

.card2 img{
    width: 200px;
    margin-top: 20px;
    margin-left: 0px;
}
.card3 img{
    width: 200px;
    margin-top: 20px;
    margin-left: 00px;
}

.card1 h3{
    color: #81f59cf9;
    font-size: 30px;
}

.card1 p{
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 40px;
}

.card1 a{
    background-color: #81f59cf9;
    color: rgb(0, 0, 0);
    padding:  10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.card2 h3{
    color: #81f59cf9;
    font-size: 30px;
}

.card2 p{
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 40px;
}

.card2 a{
    background-color: #81f59cf9;
    color: rgb(0, 0, 0);
    padding:  10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.card3 h3{
    color: #81f59cf9;
    font-size: 30px;
}

.card3 p{
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 40px;
}

.card3 a{
    background-color: #81f59cf9;
    color: rgb(0, 0, 0);
    padding:  10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.fim{
  background-color: #092635;
  padding: 50px 50px;
}

section {
  padding: 10px 10px;
  height: 100vh;
  color: white;
}

section:nth-of-type(odd) {
  background-color: #092635;
}

section:nth-of-type(even) {
  background-color: #092635;
}

section h1 {
  margin: 0;
}

@keyframes typing{
  from {
    width: 0;}
    to { width: 100%; }
}

@keyframes blink-caret{
  from, to { border-color: transparent; }
  50% { border-color: #81f59cf9; }
}

@media screen and (max-width: 768px) {
  .raiz {
    display: block;
    text-align: center;
  }

  .nav {
    text-align: center;
    align-items: center;
    position: fixed;
    margin-top: -119px;
    margin-left: -28px;
    background-color: #092635;
    padding: 30px 320px;
  }

  .nav-botão {
    
    margin-left: -115px;

    
  }

  .informações {
    width: 300px;
    margin-left: 50px;
    margin-top: 120px;
    display: block;
    align-items: center;
  }

  .adicional {
    width: 300px;
    margin-left: 10px;
    margin-top: -270px;
    display: block;
  }

  .social {
    width: 300px;
    margin-left: 25px;
    margin-top: 10px;
  }

  section {
    display: block;    
    align-items: center;
    text-align: center;
    margin-top: -5px;
  }

  img {
    width: 200px;
    align-items: center;
    margin-top: 30px;
    margin-left: 100px;
    display: block;
  }

  section div h2 {
    width: 400px;
    margin-left: -10px;
    margin-top: 20px;
    display: block;
    text-align: center;
    align-items: center;
  }

  section div p {
    display: block;
    font-size: 18px;
    margin-left: 400px;
    background-color: transparent;
    margin-top: 250px;
  }

  .projetos{
    align-items: center;
    text-align: center;
    margin-top: 150px;
  }

  .card1{
    margin-left: 0px;
    margin-top: 70px;
  }

  .card2{
    margin-top: 550px;
    margin-left: -385px;

  }

  .card3{
    margin-top: 1050px;
    margin-left: -385px;

  }

  .card1 img{
    margin-left: 50px;
  }

  .card2 img{
    margin-left: 50px;
  }

  .card3 img{
    margin-left: 50px;
  }
}
